body{
    background: #C9D6FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E2E2E2, #C9D6FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E2E2E2, #C9D6FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.Movie{

    width: 45%;
    margin: 2.5%;
    height: 300px;
    box-sizing: border-box;
    float: left;
    background: white;
    -webkit-box-shadow: 12px 19px 28px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 12px 19px 28px -3px rgba(0,0,0,0.5);
box-shadow: 12px 19px 28px -3px rgba(0,0,0,0.5);
    }

.Movie__Columns{
    float: left;
    
}


.Movie__Poster{
    position: absolute;
    margin-top:-2%;
    margin-left: 2%;
    z-index: 1;

    
}

.Movie__Title {
    width: 45%;
    display: block;
    margin-left: 45%;
}

.Movie__Poster>img{
    width: 200px;
    -webkit-box-shadow: 12px 19px 28px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 12px 19px 28px -3px rgba(0,0,0,0.5);
box-shadow: 12px 19px 28px -3px rgba(0,0,0,0.5);
}

.Movie__Genres{
    display: block;
    margin-left: 45%;
}

.Movie__Synopsis {
    display: block;
    width: 50%;
    height: 120px;
    margin-left: 45%;
    overflow: hidden;
}
